CNF_version = 1
Debug_Screen = 0
FastBoot = 1
ESR_Path_E1 = mass:/BOOT/ESR.ELF
ESR_Path_E2 = mc?:/BOOT/ESR.ELF
ESR_Path_E3 = mc?:/B?DATA-SYSTEM/ESR.ELF
pad_delay = 0
LK_Auto_E1 = OSDSYS
LK_Auto_E2 = OSDSYS
LK_Auto_E3 = OSDSYS
LK_Circle_E1 = OSDSYS
LK_Cross_E1 = OSDSYS
LK_Square_E1 = OSDSYS
LK_Triangle_E1 = OSDSYS
LK_L1_E1 = mass:/BOOT/OPNPS2LD.ELF
LK_L1_E2 = mc?:/BOOT/OPNPS2LD.ELF
LK_L1_E3 = mc?:/B?DATA-SYSTEM/OPNPS2LD.ELF
LK_R1_E1 = mass:/BOOT/BOOT.ELF
LK_R1_E2 = mc?:/BOOT/BOOT.ELF
LK_R1_E3 = mc?:/B?DATA-SYSTEM/BOOT.ELF
LK_L2_E1 = mass:/BOOT/SMS.ELF
LK_L2_E2 = mc?:/BOOT/SMS.ELF
LK_L2_E3 = mc?:/B?DATA-SYSTEM/SMS.ELF
LK_R2_E1 = mass:/BOOT/ESR.ELF
LK_R2_E2 = mc?:/BOOT/ESR.ELF
LK_R2_E3 = mc?:/B?DATA-SYSTEM/ESR.ELF
LK_L3_E1 = OSDSYS
LK_R3_E1 = OSDSYS
LK_Up_E1 = OSDSYS
LK_Down_E1 = OSDSYS
LK_Left_E1 = OSDSYS
LK_Right_E1 = OSDSYS
LK_Start_E1 = mc?:/SYS-CONF/FMCB_CFG.ELF
LK_Start_E2 = OSDSYS
LK_Start_E3 = 
LK_Select_E1 = OSDSYS
hacked_OSDSYS = 1
OSDSYS_video_mode = AUTO
OSDSYS_Skip_Disc = 0
OSDSYS_Skip_Logo = 1
OSDSYS_Inner_Browser = 0
OSDSYS_selected_color = 0x10,0x80,0xE0,0x80
OSDSYS_unselected_color = 0x33,0x33,0x33,0x80
OSDSYS_scroll_menu = 1
OSDSYS_menu_x = 320
OSDSYS_menu_y = 110
OSDSYS_enter_x = 30
OSDSYS_enter_y = -1
OSDSYS_version_x = -1
OSDSYS_version_y = -1
OSDSYS_cursor_max_velocity = 1000
OSDSYS_cursor_acceleration = 100
OSDSYS_left_cursor = o009
OSDSYS_right_cursor = o008
OSDSYS_menu_top_delimiter = y-99Free MCBoot              c1[r0.80Version 1.966r0.00]y-00
OSDSYS_menu_bottom_delimiter = c0r0.60y+99Use o006/o007 to browse listy-00r0.00
OSDSYS_num_displayed_items = 7
OSDSYS_Skip_MC = 1
OSDSYS_Skip_HDD = 1
name_OSDSYS_ITEM_1 = uLaunchELF
path1_OSDSYS_ITEM_1 = mass:/BOOT/BOOT.ELF
path2_OSDSYS_ITEM_1 = mc?:/BOOT/BOOT.ELF
path3_OSDSYS_ITEM_1 = mc?:/B?DATA-SYSTEM/BOOT.ELF
name_OSDSYS_ITEM_2 = OPNPS2LD(OPL)
path1_OSDSYS_ITEM_2 = mass:/BOOT/OPNPS2LD.ELF
path2_OSDSYS_ITEM_2 = mc?:/BOOT/OPNPS2LD.ELF
path3_OSDSYS_ITEM_2 = mc?:/B?DATA-SYSTEM/OPNPS2LD.ELF
name_OSDSYS_ITEM_3 = HD Loader
path1_OSDSYS_ITEM_3 = mass:/BOOT/HDLOADER.ELF
path2_OSDSYS_ITEM_3 = mc?:/BOOT/HDLOADER.ELF
path3_OSDSYS_ITEM_3 = mc?:/B?DATA-SYSTEM/HDLOADER.ELF
name_OSDSYS_ITEM_4 = Simple Media System(SMS)
path1_OSDSYS_ITEM_4 = mass:/BOOT/SMS.ELF
path2_OSDSYS_ITEM_4 = mc?:/BOOT/SMS.ELF
path3_OSDSYS_ITEM_4 = mc?:/B?DATA-SYSTEM/SMS.ELF
name_OSDSYS_ITEM_5 = Launch disc(ESR)
path1_OSDSYS_ITEM_5 = mass:/BOOT/ESR.ELF
path2_OSDSYS_ITEM_5 = mc?:/BOOT/ESR.ELF
path3_OSDSYS_ITEM_5 = mc?:/B?DATA-SYSTEM/ESR.ELF
name_OSDSYS_ITEM_6 = Code Break v9.2
path1_OSDSYS_ITEM_6 = mass:/BOOT/CBv92_GSHI_DAY1_ELFLDR.ELF
path2_OSDSYS_ITEM_6 = mc?:/BOOT/CBv92_GSHI_DAY1_ELFLDR.ELF
path3_OSDSYS_ITEM_6 = mc?:/B?DATA-SYSTEM/CBv92_GSHI_DAY1_ELFLDR.ELF
name_OSDSYS_ITEM_7 = USB Advance
path1_OSDSYS_ITEM_7 = mass:/BOOT/USBADVN.ELF
path2_OSDSYS_ITEM_7 = mc?:/BOOT/USBADVN.ELF
path3_OSDSYS_ITEM_7 = mc?:/B?DATA-SYSTEM/USBADVN.ELF
name_OSDSYS_ITEM_8 = GSM 0.38
path1_OSDSYS_ITEM_8 = mass:/BOOT/GSM.ELF
path2_OSDSYS_ITEM_8 = mc?:/BOOT/GSM.ELF
path3_OSDSYS_ITEM_8 = mc?:/B?DATA-SYSTEM/GSM.ELF
name_OSDSYS_ITEM_9 = PS2InfoGB
path1_OSDSYS_ITEM_9 = mass:/BOOT/PS2InfoGB.elf
path2_OSDSYS_ITEM_9 = mc?:/BOOT/PS2InfoGB.elf
path3_OSDSYS_ITEM_9 = mc?:/B?DATA-SYSTEM/PS2InfoGB.elf
name_OSDSYS_ITEM_10 = PS2FCEUltra 0.9.3
path1_OSDSYS_ITEM_10 = mass:/BOOT/FC.ELF
path2_OSDSYS_ITEM_10 = mc?:/BOOT/FC.ELF
path3_OSDSYS_ITEM_10 = mc?:/B?DATA-SYSTEM/FC.ELF
name_OSDSYS_ITEM_11 = PGEN v1.5.1
path1_OSDSYS_ITEM_11 = mass:/BOOT/PGEN151.ELF
path2_OSDSYS_ITEM_11 = mc?:/BOOT/PGEN151.ELF
path3_OSDSYS_ITEM_11 = mc?:/B?DATA-SYSTEM/PGEN151.ELF
name_OSDSYS_ITEM_12 = SNES-Station 
path1_OSDSYS_ITEM_12 = mass:/BOOT/SNES.elf
path2_OSDSYS_ITEM_12 = mc?:/BOOT/SNES.elf
path3_OSDSYS_ITEM_12 = mc?:/B?DATA-SYSTEM/SNES.elf
name_OSDSYS_ITEM_13 = OPL_PS1
path1_OSDSYS_ITEM_13 = mc0:/BOOT/OPL PS1 y PS2.ELF
path2_OSDSYS_ITEM_13 = mc1:/BOOT/OPL PS1 y PS2.ELF
name_OSDSYS_ITEM_100 = Free MCBoot Configurator
path1_OSDSYS_ITEM_100 = mc?:/SYS-CONF/FMCB_CFG.ELF
