CNF_version = 1
Debug_Screen = 0
FastBoot = 1
ESR_Path_E1 = 
ESR_Path_E2 = 
ESR_Path_E3 = 
pad_delay = 0
LK_Auto_E1 = OSDSYS
LK_Auto_E2 = OSDSYS
LK_Auto_E3 = OSDSYS
LK_Circle_E1 = OSDSYS
LK_Cross_E1 = OSDSYS
LK_Square_E1 = OSDSYS
LK_Triangle_E1 = OSDSYS
LK_L1_E1 = OSDSYS
LK_L1_E2 = mc?:/BOOT/HDLOADER.ELF
LK_L1_E3 = mc?:/B?DATA-SYSTEM/HDLOADER.ELF
LK_R1_E1 = OSDSYS
LK_R1_E2 = mc?:/BOOT/BOOT.ELF
LK_R1_E3 = hdd0:__sysconf:pfs:/FMCB/BOOT.ELF
LK_L2_E1 = OSDSYS
LK_L2_E2 = mc?:/BOOT/SMS.ELF
LK_L2_E3 = mc?:/B?DATA-SYSTEM/SMS.ELF
LK_R2_E1 = OSDSYS
LK_R2_E2 = mc?:/BOOT/ESR.ELF
LK_R2_E3 = mc?:/B?DATA-SYSTEM/ESR.ELF
LK_L3_E1 = OSDSYS
LK_R3_E1 = OSDSYS
LK_Up_E1 = OSDSYS
LK_Down_E1 = OSDSYS
LK_Left_E1 = OSDSYS
LK_Right_E1 = OSDSYS
LK_Start_E1 = hdd0:__sysconf:pfs:/FMCB/OPL.ELF
LK_Start_E2 = OSDSYS
LK_Start_E3 = 
LK_Select_E1 = hdd0:__sysconf:pfs:/FMCB/HDL Server.elf
hacked_OSDSYS = 1
OSDSYS_video_mode = NTSC
OSDSYS_Skip_Disc = 0
OSDSYS_Skip_Logo = 0
OSDSYS_Inner_Browser = 2
OSDSYS_selected_color = 0x10,0x80,0xE0,0x80
OSDSYS_unselected_color = 0x33,0x33,0x33,0x80
OSDSYS_scroll_menu = 1
OSDSYS_menu_x = 426
OSDSYS_menu_y = 100
OSDSYS_enter_x = 204
OSDSYS_enter_y = -1
OSDSYS_version_x = 502
OSDSYS_version_y = -1
OSDSYS_cursor_max_velocity = 0
OSDSYS_cursor_acceleration = 0
OSDSYS_left_cursor = 
OSDSYS_right_cursor = 
OSDSYS_menu_top_delimiter = 
OSDSYS_menu_bottom_delimiter = 
OSDSYS_num_displayed_items = 5
OSDSYS_Skip_MC = 1
OSDSYS_Skip_HDD = 1
name_OSDSYS_ITEM_1 = Juegos
path1_OSDSYS_ITEM_1 = mc0:/APPS/Open PS2 Loader 1696.ELF
name_OSDSYS_ITEM_98 = Explorador
path1_OSDSYS_ITEM_98 = mc0:/BOOT/BOOT.ELF
name_OSDSYS_ITEM_99 = Ajustes de Free MCBoot
path1_OSDSYS_ITEM_99 = mc0:/SYS-CONF/FMCB_CFG.ELF
